# Ignore Python, Node, envs and build artifacts
node_modules/
dist/
frontend/node_modules/
backend/.venv/
*.pyc
__pycache__/
.env
.env.*
*.sqlite3
.vscode/
.DS_Store
*.log

# Docker
**/docker-compose.override.yml
**/data/

# VS Code
.vscode/
